* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}
button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  > h1 {
    text-align: center;
    color: white;
  }
  .saveBtn {
    width: 100%;
    text-align: center;
    position: absolute;
    > button {
      position: absolute;
      padding: 10px;
      top: 50%;
      right: 0;
      transform: translate(-25%, -50%);
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  > p {
    text-align: center;
    color: white;
  }
}

main {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: space-between;
  .capture_area {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    #capture {
      margin: 20px;
      width: 640px;
      display: flex;
    }
  }
  .control_panel {
    width: 30%;
    > div {
      > p {
        font-weight: bold;
        margin-top: 15px;
      }
    }
    .txt_align_control {
      .txt_align_btn_wrap {
        display: flex;
        flex-wrap: wrap;
        button {
          width: 30%;
          font-size: 2rem;
          font-weight: bold;
          border: 1px solid #00000033;
        }
      }
    }
  }
}
canvas {
  display: none;
}
